python-dotenv
git+https://github.com/Pycord-Development/pycord.git@refs/pull/2579/head # py-cord use pull request 2579 to use voice messages
yt_dlp
validators
httpx
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
spotipy
pydub
